*{
    margin: 0;
    padding: 0;
 } 

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}


nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}

nav img {
    width: 139px;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;

}

nav ul a {
    text-decoration: none;
    font-weight: 500;
    line-height: 152%;
    font-size: 16px;
    color: #000000;
}

.btn {
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;

}

.hero-parent {
    background-image: url(./assets/hero-bg.png);
    width: 1200px;
    height: 600px;
    margin-top: 34px;
    text-align: center;
    padding: 0 30px;
    align-items: center;
}
.hero-parent .hero-btn{
    margin-top: 30px;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}
.hero-parent .white-text{
    margin-top: 16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
}
 .hero-parent .green-text{
    color: #30B868;
     font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    
}
.hero-parent p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;

}
.hero-paren .hero-btn-second{
    gap: 40px;
}
.btn-2{
    border: 1px solid;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: transparent;
    color: #FFFFFF;
}

.card-heading{
    text-align: center;
    margin-top: 50px;   
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;

} 
.card-para{
    text-align: center;
    font-size: 12px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}

.card-container{
    margin: 44px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 30px;


}
.card-content{
    background: #fff;
    color: #000;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px 0 #000000;

}
.card-img{
    border: 1px ;
    border-radius: 50%;
    padding: 6px;
    background: rgba(249, 85, 85, 1);
    
}
.card-header{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #001931;
}
.card-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.brain{
     padding: 120px 60px 120px 120px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
}
.brain-content{
    text-align: left;
    padding-top: 102px;
}
.brain-img{
    height: 600px;
    width: 600px;
}
.brain-para-one{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
    text-align: left;
}
.brain-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
}
.brain-para-two{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-content ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    
    
}


.main-last{
    text-align: center;
    margin: 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
}
 .main-last-HP h1{
    margin-bottom: 16px;
 }
 .main-last-HP p{
    
color: #627382;
margin-bottom: 30px;
 }
.last-p{
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    line-height: 20px;

}
    